.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.formContainer {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.heading {
  color: #333;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 24px;
}

.container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.inputGroup {
  position: relative;
}

.passwordInputGroup {
  display: flex;
  align-items: center;
}

.passwordInput {
  flex-grow: 1;
  padding-right: 50px;
}

.showHideButton {
  cursor: pointer;
  color: #0070f3;
  margin-left: -40px;
  font-size: 14px;
  line-height: 40px;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #0070f3;
}

.forgotLink {
  text-decoration: underline;
}

.rememberMe {
  display: flex;
  align-items: center;
  color: #333;
}

.container button {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.container button:hover {
  background-color: #005bb5;
}

.signupText {
  margin-top: 15px;
  text-align: center;
  color: #333;
}

.signupLink {
  color: #0070f3;
}

/* Updated error message styles */
.errorMessage {
  color: #333; /* Set text color to dark gray */
  background-color: #ffebee; /* Light red background */
  padding: 10px;
  border: 1px solid #ffcdd2;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Updated success message styles */
.successMessage {
  color: #333; /* Set text color to dark gray */
  background-color: #e0f7fa;
  padding: 10px;
  border: 1px solid #b2ebf2;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 500;
}