.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.formContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-weight: bolder;
}

.inputGroup {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
}

.passwordInputGroup {
    position: relative;
}

.showHideButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #0070f3;
    font-size: 14px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #005bb5;
}

.signupText {
    text-align: center;
    margin-top: 15px;
    color: #333;
}

.signupLink {
    color: #0070f3;
    text-decoration: none;
}

/* Updated error message styles */
.errorMessage {
  color: #333; /* Set text color to dark gray */
  background-color: #ffebee; /* Light red background */
  padding: 10px;
  border: 1px solid #ffcdd2;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Updated success message styles */
.thanksMessage {
  color: #333; /* Set text color to dark gray */
  background-color: #e0f7fa; /* Light blue background */
  padding: 10px;
  border: 1px solid #b2ebf2;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 500;
}